<div class="postingMargin">
        <div class="postingComponent">
<h1>Feed</h1>
<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
            <mat-cell *matCellDef="let posting" routerLink="/posting/detail/{{posting.PostID}}"> 
                <i class="material-icons">library_books</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let posting"> {{posting.Title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="State">
            <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
            <mat-cell *matCellDef="let posting"> {{posting.State}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Available Until">
            <mat-header-cell *matHeaderCellDef> Available Until </mat-header-cell>
            <mat-cell *matCellDef="let posting"> {{posting.DateAvaiableUntil | date: 'fullDate'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let posting">
                    <a mat-raised-button color="primary" class="nav-btn" routerLink="/posting/edit/{{posting.PostID}}">edit</a>
                    <a mat-raised-button color="primary" class="nav-btn" routerLink="/posting/detail/{{posting.PostID}}">detail</a>
                    <a mat-raised-button color="primary" class="nav-btn" routerLink="/posting/delete/{{posting.PostID}}">delete</a>
            </mat-cell>
        </ng-container>
    </mat-table>
    <br>
    <a mat-raised-button color="primary" class="nav-btn"  routerLink="/posting/create">Create New</a>
</div>
</div>
</div>