<div class="usermargin">
    <div class="usercomponent">
<h1>Details</h1>
<hr>
   <div>
       <label for="">first name:</label>
       <span>
           {{user.FirstName}}
       </span>
   </div>
   <div>
       <label for="user">last name:</label>
       <span>
           {{user.LastName}}
       </span>
   </div>
   <div>
       <label for="user">email:</label>
       <span>
           {{user.Email}}
       </span>
   </div>
   <div>
       <label for="user">phone number:</label>
       <span>
           {{user.PhoneNumber}}
       </span>
   </div>
   <br>
<button mat-raised-button class="nav-btn" routerLink ="/useredit">Edit</button>
<button mat-raised-button class="nav-btn" routerLink="/userdelete">Delete your account</button>
<button mat-raised-button class="nav-btn" routerLink="/userdetails">Back to List</button>
</div>
</div>
