.nav-btn {
    margin-right: 0.5em;
    background-color: #414a4c;
    color: #ffffff;
    box-shadow: #005555;
}

.nav-btn:hover{
    margin-right: 0.5em;
    background-color: #414a4c;
    color: #ffffff;
}

.usermargin {    
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.usercomponent {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
    z-index: 0; 
    border-color: #414a4c;
    border-style: solid;
    border-width: 4px;
    background-color: rgba(0, 42, 109, .1);
}