h1 {
    text-align: center;
    color: #000000;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #414a4c;
    color: #FFFFFF;
    box-shadow: #005555;
}

.nav-btn:hover{
    margin-right: 0.5em;
    background-color: #333a3c;
    color: #FFFFFF;
}

.postingMargin {    
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.postingComponent {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
    z-index: 0; 
    border-color: #414a4c;
    border-style: solid;
    border-width: 4px;
    background-color: rgba(0, 42, 109, .1);
    border-radius: 5%;
}