<div class="postingMargin">
        <div class="postingComponent">
<H1>Edit a Feed Post</H1>

<hr/>

<form *ngIf="posting" #f="ngForm" (ngSubmit)="onSubmit(f)"  [formGroup]="postingEditForm">
    <div>
        <div hidden>
            <mat-form-field>
                <input matInput placeholder="PostId" formControlName="PostID" type="PostID" [value]="posting.PostID"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="Title" type="Title" [value]="posting.Title"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Details" formControlName="Details" type="Details" [value]="posting.Details"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="Address" type="Address" [value]="posting.Address"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="City" formControlName="City" type="City" [value]="posting.City"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="State" formControlName="State" type="State" [value]="posting.State"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Organization" formControlName="NameOfProvider" type="Organization" [value]="posting.NameOfProvider"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Category" formControlName="Category" type="Category" [value]="posting.Category"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Available Until" formControlName="DateAvailable" type="date" [value]="posting.DateAvailable"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Is Completed?" formControlName="IsCompleted" type="bool" [value]="posting.IsCompleted"/>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit" >Edit Feed Post</button>
    <a mat-raised-button color="primary" class="nav-btn" routerLink="/posting/list">Back to Feed</a>
</form>

</div>
</div>
