<H1>Create a Feed Post</H1>

<hr/>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="noteForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="Title" type="Title" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Details" formControlName="Details" type="Details" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="Address" type="Address" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="City" formControlName="City" type="City" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="State" formControlName="State" type="State" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Organization" formControlName="Organization" type="Organization" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Category" formControlName="Category" type="Category" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Available Until" formControlName="Available Until" type="date" required/>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Feed Post</button>
</form>

<a mat-button routerLink="/posting/list">Back to Feed</a>