<div class="postingMargin">
        <div class="postingComponent">
<H1>Create a Feed Post</H1>

<hr/>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="postingForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="title" type="Title" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Details" formControlName="details" type="Details" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" type="Address" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="City" formControlName="city" type="City" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="State" formControlName="state" type="State" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Organization</mat-label>
                <mat-select  name="OrganizationName" formControlName="nameOfProvider"
                class="form-control">
                <mat-option *ngFor="let org of organizations" [value]="org.OrganizationName">
                {{org.OrganizationName}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Donation Category</mat-label>
                <mat-select name= "Category" formControlName="category" class="form-control">
                <mat-option *ngFor="let category of foods" [value]="category.value">
                {{category.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Available Until" formControlName="dateAvailable" type="date" required/>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Feed Post</button>
    <a mat-raised-button class="nav-btn" color="primary" routerLink="/posting/list">Back to Feed</a>
</form>

</div>
</div>
