<div class="Homebackground3">
    <div class="Homebackground2">
        <div class="Homebackground">
                <mat-card class="back-card">
                <mat-card class="front-card">

                <!-- <mat-grid-list cols="1" rowHeight="1:2">
                    <mat-grid-tile> -->
                        <mat-card class="example-card">
                            <mat-card-header>
                                <h1>Feed The Need</h1>
                                <!-- <mat-card-subtitle>blurb</mat-card-subtitle> -->
                            </mat-card-header>
                            <mat-card-content>
                                <p> Welcome to Feed The Need! Please create an account to use our website. Once logged in:
                                     If you have something to donate, click the Feed button to create a post so those with a need can come pick it up. If you have a need, go ahead and click on the Need button to browse current Feed Posts.</p>
                            </mat-card-content>
                        </mat-card>
                        <!-- </mat-grid-tile>
                        </mat-grid-list> -->
                        
                        
                        <button  routerLink="/posting/create"class="HomepageButtons">Feed</button> 
                        <button  routerLink="/posting/list"class="HomepageButtons">Need</button>
                    </mat-card>
                    </mat-card>
        </div>
    </div>
</div>