<div class="Homebackground3">
    <div class="Homebackground2">
        <div class="Homebackground">

                <!-- <mat-grid-list cols="1" rowHeight="1:2">
                    <mat-grid-tile> -->
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>Generic title</mat-card-title>
                                <mat-card-subtitle>blurb</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p> upon thee. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown.</p>
                            </mat-card-content>
                        </mat-card>
                    <!-- </mat-grid-tile>
                </mat-grid-list> -->


            <button  routerLink="/posting/create"class="HomepageButtons">Feed</button> 
            <button  routerLink="/posting/list"class="HomepageButtons">Need</button>
        </div>
    </div>
</div>