<p>organizationedit works!</p>
<h1>Edit a Organization.</h1>
<hr>

<div *ngIf="organization">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editOrganizationForm">
        <div>
            <div hidden>
                <mat-form-field>
                    <input matInput placeholder="OrganizationID" formControlName="OrganizationID" Type="OrganizationID" required [value]="organization.OrganizationID" />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="OrganizationName" formControlName="OrganizationName" type="OrganizationName" required [value]="organization.OrganizationName" />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="OrganizationLink" formControlName="OrganizationLink" type="OrganizationLink" required [value]="organization.OrganizationLink" />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput placeholder="OrganizationBio" formControlName="OrganizationBio" type="OrganizationBio" required [value]="organization.OrganizationBio" />
                </mat-form-field>
            </div>
            
        </div>
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
        <a mat-raised-button class="nav-btn" color="primary" routerLink="/organizations">Back to List</a>
</form>
</div>