<mat-toolbar color="primary">
    <span>FeedTheNeed</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button routerLink="/userdetails"class="nav-btn">User Details</button>
    <button mat-raised-button routerLink="/organizations"class="nav-btn">Organizations</button>
    <button mat-raised-button routerLink="/posting/list"class="nav-btn">Postings</button>
    <button mat-raised-button routerLink="/contactpage"class="nav-btn">Contact information</button>
</mat-toolbar>
 