<div class="contactmargin">
  <div class="contactcomponent">
    <h1>Contact Page</h1>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Contact Us</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <p>To have organiztions added to the list, or any other questions, please email:
                <br/>
                <br/>

              Carrie:
<br/>
              carrie.m.lord@gmail.com
              <br/>
              <br/>

              Jacob:
              <br/>

              jacobhelouzx@gmail.com 
              <br/>
              <br/>

              Josh:
              <br/>

              joshua.m.proffitt@gmail.com 
              <br/>
              <br/>


            </p>
            </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>Feed the Need</mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://cdn.pixabay.com/photo/2016/11/04/10/49/hands-1797401_960_720.jpg" alt="Photo of hands">
                <mat-card-content>
                <p>We're dedicated to helping communities Feed their Needs using our innovative site as a solution.</p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>special credits to John Sacco for the project inspiration</button>
                <!-- <button mat-button>or blurb</button>
                <button mat-button>or blurb</button>
                <button mat-button>or blurb</button> -->
               </mat-card-actions>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
  </div>
</div>