<div class="contactmargin">
        <div class="contactcomponent">
<h1>Contactpage Works!</h1>
<mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
<p>this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, this is a cool contact page, </p>
</mat-grid-tile>
<mat-grid-tile>
<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Feed the Need</mat-card-title>
          <mat-card-subtitle>blurb</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2016/11/04/10/49/hands-1797401_960_720.jpg" alt="Photo of hands">
        <mat-card-content>
          <p>
            this is a cool picture about things and stuff related to feed and need and stuff and food and stuff and stuff and lalala and random words go in a line that goes in a bigger line in which what are we are even talking this is a test and this is a cool mat-card content and stuff
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>blurb</button>
          <button mat-button>or blurb</button>
          <button mat-button>or blurb</button>
          <button mat-button>or blurb</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>
</div>