h1 {
    text-align: center;
}

.contactmargin {    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.contactcomponent {
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 0; 
    border-width: 4px;
    border-radius: 1%;
}

.example-card {
    max-height: 40vw;
    max-width: 40vw;
  }
  
  .example-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg');
    background-size: cover;
  }
  