<h1>Delete</h1>
<h4>Are you sure you want to delete this?</h4>

<hr>
<div *ngIf="organization">
    <div>
        <label for="">OrganizationID</label>
        <span>{{organization.OrganizationID}}</span>
    </div>
    <div>
        <label for="">OrganizationName</label>
        <span>{{organization.OrganizationName}}</span>
    </div>
    <div>
        <label for="">OrganizationLink</label>
        <span>{{organization.OrganizationLink}}</span>
    </div>
    <div>
        <label for="">OrganizationBio</label>
        <span>{{organization.OrganizationBio}}</span>
    </div>
</div>

<button mat-raised-button class="nav-btn" color="primary" (click)="onDelete()">Delete</button>
<button mat-raised-button class="nav-btn" color="primary" routerLink="/organizations">Back to list</button>