.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: #002A6D;
    color: #FFFFFF;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #414a4c;
    color: #FFFFFF;
    box-shadow: #005555;
}

.nav-btn:hover{
    margin-right: 0.5em;
    background-color: #333a3c;
    color: #FFFFFF;
}
.logo {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  
  .logo::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    margin: auto;
    background-image: url('src\assets\logo.png');
    background-position: center;
    background-size: contain;
  }