<div class="organizationMargin">
        <div class="organizationComponent" *ngIf="isAdmin()">
<h1>Create an Organization</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="organizationForm">
  <div>
    <div>
        <mat-form-field>
            <input matInput placeholder="OrganizationName" formControlName="OrganizationName" type="OrganizationName" required/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="OrganizationLink" formControlName="OrganizationLink" type="OrganizationLink" required/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="OrganizationBio" formControlName="OrganizationBio" type="OrganizationBio" required/>
        </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Organization</button>
  <button mat-raised-button class="nav-btn" color="primary" routerLink="/organizations">Back to List</button>
</form>
</div>
</div>
