.nav-btn {
    margin-right: 0.5em;
    background-color: #414a4c;
    color: #FFFFFF;
    box-shadow: #005555;
}

.nav-btn:hover{
    margin-right: 0.5em;
    background-color: #333a3c;
    color: #FFFFFF;
}

h1 {
    text-align: center;
}

.organizationMargin {    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.organizationComponent {
    text-align: left;
    border-color: #414a4c;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    /* background-color: rgba(255, 165, 0, .1); */
    background-color: rgba(0, 42, 109, .1);
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}