<h1>Create a Organization.</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="organizationForm">
  <div>
    <div>
        <mat-form-field>
            <input matInput placeholder="OrganizationName" formControlName="OrganizationName" type="OrganizationName" required/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="OrganizationLink" formControlName="OrganizationLink" type="OrganizationLink" required/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="OrganizationBio" formControlName="OrganizationBio" type="OrganizationBio" required/>
        </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Organization</button>
</form>

<a mat-button routerLink="/Organizations">Back to List</a>